.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 1120px;
  margin: 0 auto;
}

.avatar {
  width: 368px;
  height: 475px;
  background-color: white;
  flex-shrink: 0; /* Prevent shrinking */
}
.current_work {
  margin-top: 40px;
  font-family: var(--font-geist-mono);
  display: flex;
  gap: 16px;
  align-items: center;
  color: #646464;
}
