.main-pill {
  display: inline-flex; /* Changed from flex to inline-flex */
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 8px; /* Adjusted padding to be smaller */
  border-radius: 12px;
  background-color: #242628;
  font-family: var(--font-geist-mono);
  .label {
    font-size: 14px;
    color: #fff;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}
